/******************************
********GENERAL CONFIG*********
******************************/
body {
    background: rgba(11,41,58,0.6) url("images/bg-10-full.jpg") no-repeat center center;
}

h1 {
    font-family: 'Titillium Web', sans-serif !important;
    font-weight: 600 !important;
}

p {
    font-family: 'Titillium Web', sans-serif !important;
    font-weight: 300;
}



main{
    margin-top: 150px;
    margin-bottom: 80px;
    height: 600px;
}

.centered-icon{


}


/******************************
*********** NAV MENU **********
******************************/
.ui.top.menu{
    margin: 50px 0 ;
    border-radius: 0;
}


/******************************
*********** FORM **********
******************************/
.form-container{
    max-width: 600px;
    margin: auto;
}

.custom-form .field input{
    border-radius: 0 !important;
    padding: 15px 0 !important;
    background-color: rgba(255,255,255,0.5) !important;
}




/******************************
*******FOOTER CONTAINER******
******************************/
.content.footer{
    background-color: #1b1c1d;
    padding-bottom: 30px;
}
.footer .container{
    padding-top: 30px;
}

.footer-contactform{
    float: left;
    width: 45%;
    margin-right: 5%;
}

.footer-contacttext{
    float: left;
    width: 50%;
    margin-top: 25px;
}

.footer-contacttext p{
    color: #ffffff;
}

.footer-maps iframe{
    max-width: 100%;
    height: 190px;
    border-radius: 10px;
}




/******************************
*****MOBILE VERSION************
******************************/

@media (max-width: 991px) {

    .footer-contactform{
        width: 100%;
    }
    .footer-contacttext{
        width: 100%;
    }
    .footer-maps{
        margin: 0 10%;
    }

}

